<div style="display: flex; flex-direction: column">
  <p>Result:</p>
  <canvas #canvasA style="width: 300px; height: 300px;"></canvas>
  <!-- <canvas #canvasB style="width: 300px; height: 300px;"></canvas> -->

  <!-- <p>Tile:</p>
  <img src="assets\tile.svg" style="width: 300px; height: 300px;" /> -->
</div>

<div style="display: flex; flex-direction: column">
  <p>TEST:</p>
  <div style="display: flex; flex-direction: row">
    <canvas #canvas1 style="width: 300px; height: 300px;"></canvas>
    <canvas #canvas2 style="width: 300px; height: 300px;"></canvas>
  </div>
  <div style="display: flex; flex-direction: row">
    <canvas #canvas3 style="width: 300px; height: 300px;"></canvas>
    <canvas #canvas4 style="width: 300px; height: 300px;"></canvas>
  </div>
</div>
